{% extends 'base.html.twig' %}

{% block title %}Liste des personnages{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('show') }}
{% endblock %}

{% block body %}
	
	<div class="example-wrapper">
		<div class="container">
			{#============ LES CARTES DES PERSONNAGES ===========#}
			<div class="row">
				{% for character in characters %}
					<div class="col-md-3 mb-3">
						<div class="card">
							<a href="{{ path('show_details', {'id' : character.id}) }}">
							<img class="card-img-top"
							     src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
							     alt="{{ character.name }}-image">
							</a>
							
							
							<div class="card-body">
								<h5 class="card-title" data-toggle="">
									<a href="{{ path('show_details', {'id' : character.id}) }}">{{ character.name }}</a>
									</h5>
								<p class="card-text">
									{% if character.description is empty %}
										This character has no description yet
									{% else %}
										{{ character.description }}
									{% endif %}
								</p>
								<a href="{{ path('show_details', {'id' : character.id}) }}" class="btn btn-primary"><i class="fas fa-address-card"></i>&nbsp;Voir la fiche</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			
			{#================ LA PAGINATION ======================#}
			
			{% if page is not empty %}
				
				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center">
						{% if page == 1 %}
							<li class="page-item disabled"><a class="page-link"
							                                  href="">Previous</a>
							</li>
						{% else %}
							<li class="page-item"><a class="page-link"
							                         href="{{ path( 'show' , {'page' : page - 1}) }}">Previous</a>
							</li>
						{% endif %}
						{% for i in 0..totalPages %}
							<li class="page-item {% if page == loop.index %}active{% endif %}"><a class="page-link"
							                         href="{{ path( 'show' , {'page' : loop.index}) }}">{{ loop.index }}</a>
							</li>
						{% endfor %}
						{% if page >= totalPages  %}
							<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
						{% else %}
							<li class="page-item"><a class="page-link" href="{{ path( 'show' , {'page' : page + 1}) }}">Next</a></li>
						{% endif %}
					</ul>
					<div class="text-center">
						
						<a href="{{ path('show') }}" class="btn btn-primary">Afficher tous les personnages sur une seule
							page</a>
					</div>
				</nav>
			
			{% else %}
				<div class="text-center">
					<a href="{{ path('show', {'page' : 1 }) }}" class="btn btn-primary">Afficher la pagination</a>
				</div>
			{% endif %}
		</div>
	</div>
	
	{% block javascripts %}
		{{ encore_entry_script_tags('show') }}
	{% endblock %}
{% endblock %}
